/* GENERATED STYLES, make changes using the 'scripts/createSizeStyles.js' script.*/
.w1 {
    width: 150px;
}

.he1 {
    height: 60px;
}

.w2 {
    width: 310px;
}

.he2 {
    height: 130px;
}

.w3 {
    width: 470px;
}

.he3 {
    height: 200px;
}

.w4 {
    width: 630px;
}

.he4 {
    height: 270px;
}

.w5 {
    width: 790px;
}

.he5 {
    height: 340px;
}

.w6 {
    width: 950px;
}

.he6 {
    height: 410px;
}

.w7 {
    width: 1110px;
}

.he7 {
    height: 480px;
}

.w8 {
    width: 1270px;
}

.he8 {
    height: 550px;
}

.w9 {
    width: 1430px;
}

.he9 {
    height: 620px;
}

.w10 {
    width: 1590px;
}

.he10 {
    height: 690px;
}

.w11 {
    width: 1750px;
}

.he11 {
    height: 760px;
}

.w12 {
    width: 1910px;
}

.he12 {
    height: 830px;
}
