

.grid-stack {
    padding: 10px 0;
}

.grid-stack-item-content {
    right: 0 !important;
    border: 1px solid dimgray;
    border-radius: 7px;
    overflow: hidden;

    display: inline-block;
    position: relative;

}

.grid-stack-item-content:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .5;
    /*--item-color will be defined dynamically within the item itself in gridcontrols.js*/
    background-color: var(--item-color);
}

.grid-stack-item > .ui-resizable-se {
    right: 0 !important;
}

body {
    background: url("https://source.unsplash.com/random/1920x1080");
    background-size: cover;
}

.ctab-widget-body {
    position: relative;
    width: 95%;
    height: 100%;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    opacity: 1;

}

/*Invisible overlay containing the link*/
.ctab-widget-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    /* fixes overlap error in IE7/8,
       make sure you have an empty gif */
    background-image: url('empty.gif');
}

.buttonBar button {
    border: 1px solid lightslategrey;
    border-radius: 3px;
    background-color: lightblue;
    font-weight: bold;
    margin: 5px 2px 10px;
}

.buttonBar #saveButton, .buttonBar #backupButton {
    background-color: lightgreen;
}

.buttonBar #clearButton {
    background-color: lightcoral;
}

.buttonBar #debugButton, .buttonBar #widescreenButton {
    background-color: yellow;
}

/*DEBUG STYLES*/
.devConfig #configField #configFieldInput {
    width: 70%;
}