$break-small: 320px;
$break-large: 1200px;

:root {
    --ctab-widget-controls-width: 60px;
    --topbar-height: 55px;
    --widget-border-color: #222222;
    --background-color: #FFFFFF;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "DejaVu Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    line-height: inherit;
    margin: 0;
    color: inherit;
}

.main{
    display: grid;
    grid-template-columns: auto minmax(25%,150px);
    grid-template-rows: 55px auto;
    width: 100%;
    height: 100%;
    padding: 0;

    .top-bar {
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: aquamarine;
    }
    .widget-page {
        background-color: crimson;
    }
    .side-menu {
        background-color: lightpink;
    }
}

.bold {
    font-weight: bold;
}

.note {
    font-size: .8em;
    font-style: italic;
}

#background-color-picker {
    background-color: var(--background-color);
}

#widget-border-color {
    background-color: var(--widget-border-color);
}

.vanilla-color-picker {
    z-index: 6;
    overflow: visible !important;
    width: max-content;
    min-width: 15px;
    opacity: 1;
    border: 2px solid #E5E5E5;
}

.settings-pane-background {
    display: grid;
    grid-template-columns: 20px 400px;
    grid-template-rows: repeat(2, 30px) 50px repeat(3, 30px);
}

.setting {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.settings-pane {
    top: var(--topbar-height);
    right: 10px;

    grid-template-columns: 400px 420px;
}

#filter-menu-toggle {
    display: var(--experimental-features-display);
}

.filter-menu-pane {
    top: var(--topbar-height);
    right: 10em;

    grid-template-columns: 100px 200px;
}

.filter-menu-tag-list {
    padding: 10px;
}

.filter-menu-tag-list-item label input {
    margin-right: 40px;
}

.hidden {
    display: none !important;
}

.grid-stack {
}


/*Muuri styles*/
.grid {
    position: relative;
    margin-top: 60px;
    padding: 10px 0;
}

.item {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100px;
    height: 100px;
    margin: 5px;
    color: #000000;
    background: transparent;


    .muuri-item-dragging {
        z-index: 3;
    }

    .muuri-item-releasing {
        z-index: 2;
    }

    .muuri-item-hidden {
        z-index: 0;
    }
}

// Styling of the drag placeholder
div.muuri-item-placeholder {
    border: 2px #777777 dashed;
    border-radius: 4px;
}


/*End Muuri style*/


.sortingDropdown {
    line-height: 16px;
    position: relative;
    z-index: 4;
    display: var(--experimental-features-display);
    align-items: center;
    height: 40px;
    margin-top: 5px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.item-content {
    position: relative;
    right: 0 !important;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid var(--widget-border-color);

    border-radius: 4px;

    /*Set a barely visible text stroke so dark text on dark background is somewhat readable
    TODO: Not sure yet if this is too ugly*/
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
}

.left {
    float: left;
    width: max-content;
}

.ctab-widget-body {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: center;
}

.ctab-item-clock span {
    line-height: 100%;
    width: 100%;
    height: 100%;
}

.ctab-widget-controls {
    position: absolute;
    z-index: 3;
    right: 0;
    display: grid;
    width: var(--ctab-widget-controls-width);
    height: 19px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-bottom: 1px solid #00000080;
    border-left: 1px solid #00000080;
    border-radius: 0 0 0 5px;
    background: rgba(0, 0, 0, .4);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;

    div {
        margin: 2px;
    }

    .widget-control-picker {
        line-height: 15px;
        width: 90%;
        height: 96%;
        max-height: 20px;
        border-width: 1px;
        border-radius: 3px;
    }

    .deletebutton {
        button {
            line-height: 0;
            vertical-align: middle;
            padding: 0;
            border: 0;
        }
    }
}

.ctab-widget-drag-handle {
    line-height: 11px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 16px;
    height: 17px;
    margin: 3px;
    padding: 8px;
    cursor: grab;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;

    :active {
        cursor: grabbing;
    }

    span {
        font-weight: bold;
        position: absolute;
        color: black;
        padding: 0;
        width: 10px;
        height: 11px;
        line-height: 100%;
    }

}

/*Invisible overlay containing the link*/
.ctab-widget-link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*DEBUG STYLES*/
#devConfig #configField #configFieldInput {
    width: calc(100% - 15px);
    resize: none;
}

.others {
    z-index: 6;
    max-width: 80%;
    border: 1px solid dimgray;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
}

.addButton {
    position: fixed;
    z-index: 4;
    right: 25px;
    bottom: 25px;
    width: 70px;
    height: 70px;
    border: 2px solid #FF0000;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.8);
}

.add-pane {
    right: 25px;
    bottom: 25px;

    grid-template-columns: 120px 150px;
    grid-template-rows: repeat(2, 20px);
}


.pane {
    position: fixed;
    z-index: 6;
    display: grid;
    width: min-content;
    padding: 5px;
    border: 1px solid #FF0011;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);

    label, button {
        font-weight: bolder;
        line-height: 23px;
        display: inline-block;
        vertical-align: middle;
    }
}

#modal-backdrop {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(123, 123, 123, 0.6);
}

/*The plus sign in the add button*/
.addSign {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 15px);
    width: 30px;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 1);
}

.addSign:before {
    position: absolute;
    z-index: -1;
    width: 30px;
    height: 6px;
    content: '';
    transform: rotate(90deg);
    border-radius: 3px;
    background: white;
}

.ctab-item-note {
    font-size: 1em;
    text-align: left;
    word-wrap: break-word;
}

.ctab-item-note textarea {
    overflow: hidden;
    width: 100%;
    height: 100%;
    resize: none;
}

#toast {
    position: fixed;
    z-index: 10;
    top: 30px;
    left: 50%;
    min-width: 250px;
    margin-left: -125px; /* half of min-width*/
    padding: 16px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #333333;
}
